* {
    margin: 0;
    padding: 0;
}

.tb-promo {
    position: relative;

    width: 520px;
    height: 280px;
    background-color: pink;
    margin: 100px auto;
}

.tb-promo img{
    width: 520px;
    height: 280px;
}

.prev {
    position: absolute;
    top: 50%;
    left: 0;

    margin-top: -15px;

    width: 20px;
    height: 30px;
    background-color: rgb(0, 0, 0 , 0.3);

    text-align: center;
    line-height: 30px;
    color: #fff;
    text-decoration: none;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
