html {
  font-size: 50px;
}
div {
  width: 150px;
  height: 500px;
  border: 10px solid red;
  background-color: #444444;
}
img {
  width: 1.64rem;
  height: 1.64rem;
}
/* 1.运算符左右最好有空格
2.计算两边，只要有一边有单位就行。
    如果两个数都有单位，则已前一个单位为准 */
